* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', monospace;
    color: black;
}

main {
    background-color: #f2f2f2;
    padding: 20px 30px;
}

h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

footer {
    background-color: #d9d9d9;
    text-align: left;
    padding: 20px 30px;
}

.logo {
    height: 80px;
    width: auto;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 27px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 10px 15px;
}

nav a {
    color: black;
    text-decoration: none;
}

/* Checkbox für das Menü verstecken */
#menu-toggle {
    display: none;
}

/* Burger-Icon */
.menu-icon {
    display: none;
    font-size: 1.8EM;
    cursor: pointer;
    color: black;
}

/* Mobile Styling */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        background: white;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        padding: 15px;
    }

    /* Burger-Icon anzeigen */
    .menu-icon {
        display: block;
    }

    /* Wenn Checkbox aktiv ist, Menü anzeigen */
    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    main {
        padding: 20px 10px;
    }

    h1 {
        margin-bottom: 8px;
        font-size: 1.8em;
    }

    footer {
        padding: 20px 10px;
    }

    .header {
        padding: 10px 7px 10px;
    }
}
